<%= form_for(@pedido) do |f| %>
  <% if @pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% @pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ped_fecha %><br>
    <%= f.date_select :ped_fecha %>
  </div>
  <div class="field">
    <%= f.label :ped_total %><br>
    <%= f.number_field :ped_total %>
  </div>
  <div class="field">
    <%= f.label :ped_canttot %><br>
    <%= f.number_field :ped_canttot %>
  </div>
  <div class="field">
    <%= f.label :trabajador_id %>:
    <%= f.select :trabajador_id, Trabajador.all.map{|t| [t.tra_rut,t.id]}, {}, {}  %>
  </div>
  <div class="field">
    <%= f.label :proveedor_id %>:
    <%= f.select :proveedor_id, Proveedor.all.map{|t| [t.prov_rut,t.id]}, {}, {}  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
