<h1>Listing pedidos</h1>

<table>
  <thead>
    <tr>
      <th>Ped fecha</th>
      <th>Ped total</th>
      <th>Ped canttot</th>
      <th>Ped trabajador</th>
      <th>Ped proveedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.ped_fecha %></td>
        <td><%= pedido.ped_total %></td>
        <td><%= pedido.ped_canttot %></td>
        <td><%= pedido.trabajador.tra_rut %></td>
        <td><%= pedido.proveedor.prov_rut %></td>
        <td><%= link_to 'Show', pedido %></td>
        <td><%= link_to 'Edit', edit_pedido_path(pedido) %></td>
        <td><%= link_to 'Destroy', pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedido', new_pedido_path %>
