<p id="notice"><%= notice %></p>

<p>
  <strong>Bod rut:</strong>
  <%= @bodega.bod_rut %>
</p>

<p>
  <strong>Bod rs:</strong>
  <%= @bodega.bod_rs %>
</p>

<p>
  <strong>Bod direccion:</strong>
  <%= @bodega.bod_direccion %>
</p>

<p>
  <strong>Bod numero:</strong>
  <%= @bodega.bod_numero %>
</p>

<p>
  <strong>Bod telefono:</strong>
  <%= @bodega.bod_telefono %>
</p>

<p>
  <strong>Bod mail:</strong>
  <%= @bodega.bod_mail %>
</p>

<%= link_to 'Edit', edit_bodega_path(@bodega) %> |
<%= link_to 'Back', bodegas_path %>
