<p id="notice"><%= notice %></p>

<p>
  <strong>Cli rut:</strong>
  <%= @cliente.cli_rut %>
</p>

<p>
  <strong>Cli nombre:</strong>
  <%= @cliente.cli_nombre %>
</p>

<p>
  <strong>Cli apellidop:</strong>
  <%= @cliente.cli_apellidop %>
</p>

<p>
  <strong>Cli apellidom:</strong>
  <%= @cliente.cli_apellidom %>
</p>

<p>
  <strong>Cli telefono:</strong>
  <%= @cliente.cli_telefono %>
</p>

<p>
  <strong>Cli direccion:</strong>
  <%= @cliente.cli_direccion %>
</p>

<p>
  <strong>Cli numero:</strong>
  <%= @cliente.cli_numero %>
</p>

<p>
  <strong>Cli email:</strong>
  <%= @cliente.cli_email %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
