<h1>Listing usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Usu nombre</th>
      <th>Usu password</th>
      <th>Tur tipo usuario</th>
      <th>Tur cargo trabajador</th>
      <th>Tur estado habilitacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.usu_nombre %></td>
        <td><%= usuario.usu_password %></td>
        <td><%= usuario.tipo_usuario.tpu_descripcion %></td>
        <td><%= usuario.cargo_trabajador.tipo_trabajador.tpt_descripcion %></td>
        <td><%= usuario.estado_habilitado.esh_descripcion %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
