<%= form_for(@trabajador_seccion) do |f| %>
  <% if @trabajador_seccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trabajador_seccion.errors.count, "error") %> prohibited this trabajador_seccion from being saved:</h2>

      <ul>
      <% @trabajador_seccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trs_fechaini %><br>
    <%= f.date_select :trs_fechaini %>
  </div>
  <div class="field">
    <%= f.label :trs_fechafin %><br>
    <%= f.date_select :trs_fechafin %>
  </div>
  <div class="field">
    <%= f.label :seccion_local_id %>:
    <%= f.select :seccion_local_id, SeccionLocal.all.map{|t| [t.id,t.id]}, {}, {}  %>
  </div>
  <div class="field">
    <%= f.label :trabajador_id %>:
    <%= f.select :trabajador_id, Trabajador.all.map{|t| [t.tra_nombre,t.id]}, {}, {}  %>
  </div>
  <div class="field">
    <%= f.label :turno_id %>:
    <%= f.select :turno_id, Turno.all.map{|t| [t.tur_horario,t.id]}, {}, {}  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
