<h1>Listing trabajador_seccions</h1>

<table>
  <thead>
    <tr>
      <th>Trs fechaini</th>
      <th>Trs fechafin</th>
      <th>Trs seccion local</th>
      <th>Trs trabajador</th>
      <th>Trs turno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trabajador_seccions.each do |trabajador_seccion| %>
      <tr>
        <td><%= trabajador_seccion.trs_fechaini %></td>
        <td><%= trabajador_seccion.trs_fechafin %></td>
        <td><%= trabajador_seccion.seccion_local.id %></td>
        <td><%= trabajador_seccion.trabajador.tra_nombre %></td>
        <td><%= trabajador_seccion.turno.tur_horario %></td>
        <td><%= link_to 'Show', trabajador_seccion %></td>
        <td><%= link_to 'Edit', edit_trabajador_seccion_path(trabajador_seccion) %></td>
        <td><%= link_to 'Destroy', trabajador_seccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trabajador seccion', new_trabajador_seccion_path %>
