<h1>Listing estado_habilitados</h1>

<table>
  <thead>
    <tr>
      <th>Esh descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estado_habilitados.each do |estado_habilitado| %>
      <tr>
        <td><%= estado_habilitado.esh_descripcion %></td>
        <td><%= link_to 'Show', estado_habilitado %></td>
        <td><%= link_to 'Edit', edit_estado_habilitado_path(estado_habilitado) %></td>
        <td><%= link_to 'Destroy', estado_habilitado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estado habilitado', new_estado_habilitado_path %>
