<table>
  <thead>
  <tr>
    <th>Nº de Cuota</th>
    <th>Fecha de pago</th>
    <th>Vencimiento</th>
    <th>Estado</th>
    <th>Monto Cuota</th>
    <th>Tipo Tarjeta</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @cuotas.each do |cuota| %>
      <tr>
        <td><%= cuota.pag_cuota %></td>
        <td><%= cuota.pag_fecha %></td>
        <td><%= cuota.pag_venc %></td>
        <td><%= cuota.pag_estado %></td>
        <td><%= cuota.pag_monto %></td>
        <td>
        <%if(cuota.tarjet_id!=nil)%>
            <% tarj = cuota.tarjet_id %>
            <% @tarjet.each do |tarjet| %>
        <%= (tarjet.id==tarj) ? tarjet.tipo_tarjet.tta_descripcion : ''%>
            <%end%>
        <%end%>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>

<%= link_to 'Back', compras_path %>