<table>
  <thead>
  <tr>
    <th>Cantidad</th>
    <th>Precio Unidad</th>
    <th>Total</th>
    <th>Descuento</th>
    <th>Seccion</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @detalle.each do |detal| %>
      <tr>
        <td><%= detal.dec_cantidad %></td>
        <td><%= detal.dec_uni %></td>
        <td><%= detal.dec_total %></td>
        <td><%= detal.dec_descuento %></td>
        <td><%= detal.producto_seccion.seccion_local.seccion.sec_seccion%></td>
        <td><%= link_to 'Destroy', detal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>

  </tbody>
</table>

<%= link_to 'Back', compras_path %> |
<%= link_to 'New Detalle compra', new_detalle_compra_path %>