<%= form_for(@comuna) do |f| %>
  <% if @comuna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comuna.errors.count, "error") %> prohibited this comuna from being saved:</h2>

      <ul>
      <% @comuna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :com_nombre %><br>
    <%= f.text_field :com_nombre %>
  </div>
    <div class="field">
      <%= f.label :region_id %>:
      <%= f.select :region_id, Region.all.map{|t| [t.reg_nombre,t.id]}, {}, {}  %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
