<p id="notice"><%= notice %></p>

<p>
  <strong>Tra rut:</strong>
  <%= @trabajador.tra_rut %>
</p>

<p>
  <strong>Tra nombre:</strong>
  <%= @trabajador.tra_nombre %>
</p>

<p>
  <strong>Tra apellidop:</strong>
  <%= @trabajador.tra_apellidop %>
</p>

<p>
  <strong>Tra apellidom:</strong>
  <%= @trabajador.tra_apellidom %>
</p>

<p>
  <strong>Tra nacimiento:</strong>
  <%= @trabajador.tra_nacimiento %>
</p>

<p>
  <strong>Tra telefono:</strong>
  <%= @trabajador.tra_telefono %>
</p>

<p>
  <strong>Tra direccion:</strong>
  <%= @trabajador.tra_direccion %>
</p>

<p>
  <strong>Tra numero:</strong>
  <%= @trabajador.tra_numero %>
</p>

<p>
  <strong>Tra email:</strong>
  <%= @trabajador.tra_email %>
</p>

<p>
  <strong>Tra sexo:</strong>
  <%= @trabajador.tra_sexo %>
</p>

<%= link_to 'Edit', edit_trabajador_path(@trabajador) %> |
<%= link_to 'Back', trabajadors_path %>
