<h1>Listing pago_compras</h1>

<table>
  <thead>
    <tr>
      <th>Pag cuota</th>
      <th>Pag fecha</th>
      <th>Pag venc</th>
      <th>Pag estado</th>
      <th>Pag monto</th>
      <th>Pag tarjeta</th>
      <th>Pag compra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pago_compras.each do |pago_compra| %>
      <tr>
        <td><%= pago_compra.pag_cuota %></td>
        <td><%= pago_compra.pag_fecha %></td>
        <td><%= pago_compra.pag_venc %></td>
        <td><%= pago_compra.pag_estado %></td>
        <td><%= pago_compra.pag_monto %></td>
        <td><%= (pago_compra.tarjet_id==nil) ? '' : pago_compra.tarjet.tar_serie%></td>
        <td><%= pago_compra.compra.id %></td>
        <td><%= link_to 'Show', pago_compra %></td>
        <td><%= link_to 'Edit', edit_pago_compra_path(pago_compra) %></td>
        <td><%= link_to 'Destroy', pago_compra, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pago compra', new_pago_compra_path %>
