<p id="notice"><%= notice %></p>

<p>
  <strong>Mod descripcion:</strong>
  <%= @modelo.mod_descripcion %>
</p>
<p>
  <strong>Marca</strong>
  <%= @modelo.marca.mar_descripcion %>
</p>

<%= link_to 'Edit', edit_modelo_path(@modelo) %> |
<%= link_to 'Back', modelos_path %>
