<%= form_for(@detalle_compra) do |f| %>
  <% if @detalle_compra.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detalle_compra.errors.count, "error") %> prohibited this detalle_compra from being saved:</h2>

      <ul>
      <% @detalle_compra.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dec_cantidad %><br>
    <%= f.number_field :dec_cantidad %>
  </div>
  <div class="field">
    <%= f.label :dec_uni %><br>
    <%= f.number_field :dec_uni %>
  </div>
  <div class="field">
    <%= f.label :dec_total %><br>
    <%= f.number_field :dec_total %>
  </div>
  <div class="field">
    <%= f.label :dec_descuento %><br>
    <%= f.number_field :dec_descuento %>
  </div>
  <div class="field">
    <%= f.label :producto_seccion_id %>:
    <%= f.select :producto_seccion_id, ProductoSeccion.all.map{|t| [t.id,t.id]}, {}, {}  %>
  </div>
  <div class="field">
    <%= f.label :compra_id %>:
    <%= f.select :compra_id, Compra.all.map{|t| [t.id,t.id]}, {}, {}  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
