<%= form_for(@producto_seccion) do |f| %>
  <% if @producto_seccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto_seccion.errors.count, "error") %> prohibited this producto_seccion from being saved:</h2>

      <ul>
      <% @producto_seccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prs_cant %><br>
    <%= f.number_field :prs_cant %>
  </div>
  <div class="field">
    <%= f.label :prs_fecha %><br>
    <%= f.date_select :prs_fecha %>
  </div>
  <div class="field">
    <%= f.label :prs_preciouni %><br>
    <%= f.number_field :prs_preciouni %>
  </div>
  <div class="field">
    <%= f.label :producto_bodega_id %>:
    <%= f.select :producto_bodega_id, ProductoBodega.all.map{|t| [t.id,t.id]}, {}, {}  %>
  </div>
  <div class="field">
    <%= f.label :seccion_local_id %>:
    <%= f.select :seccion_local_id, SeccionLocal.all.map{|t| [t.id,t.id]}, {}, {}  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
