<h1>Listing despachos</h1>

<table>
  <thead>
    <tr>
      <th>Desp fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @despachos.each do |despacho| %>
      <tr>
        <td><%= despacho.desp_fecha %></td>
        <td><%= link_to 'Show', despacho %></td>
        <td><%= link_to 'Edit', edit_despacho_path(despacho) %></td>
        <td><%= link_to 'Destroy', despacho, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Despacho', new_despacho_path %>
