<p id="notice"><%= notice %></p>

<p>
  <strong>Prov rut:</strong>
  <%= @proveedor.prov_rut %>
</p>

<p>
  <strong>Prov nombre:</strong>
  <%= @proveedor.prov_nombre %>
</p>

<p>
  <strong>Prov apellidop:</strong>
  <%= @proveedor.prov_apellidop %>
</p>

<p>
  <strong>Prov apellidom:</strong>
  <%= @proveedor.prov_apellidom %>
</p>

<p>
  <strong>Prov telefono:</strong>
  <%= @proveedor.prov_telefono %>
</p>

<p>
  <strong>Prov direccion:</strong>
  <%= @proveedor.prov_direccion %>
</p>

<p>
  <strong>Prov numero:</strong>
  <%= @proveedor.prov_numero %>
</p>

<p>
  <strong>Prov email:</strong>
  <%= @proveedor.prov_email %>
</p>

<%= link_to 'Edit', edit_proveedor_path(@proveedor) %> |
<%= link_to 'Back', proveedors_path %>
